libclang==15.0.6.1
pytest==7.1.2
tox==4.5.2
Sphinx==5.0.2
sphinx-rtd-theme==1.0.0
coverage==6.4.2
setuptools==65.7.0
build==0.8.0
twine==4.0.1
sphinx-autodoc-typehints==1.18.3
gitchangelog==3.0.4
wheel>=0.38.4
keyring==23.7.0
pylint==2.15.10
